<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
  <img width="500" alt="Angular Logo" src="assets/img/pokerLogo.png">
</div>
<div style="margin:50px">
<div class="card border-primary mb-8">
  <div class="card-header">Add your players:</div>
  <div class="card-body">
      <app-form></app-form>
  </div>
</div>

<br/>
<div class="card border-secondary mb-8">
    <div class="card-header">Players to add:</div>
    <div class="card-body">
        <app-players></app-players>
    </div>
  </div>

  <br/>

  <div class="card border-secondary mb-8">
    <div class="card-header">Plays and results:</div>
    <div class="card-body">
        <app-plays-and-result></app-plays-and-result>
    </div>

  </div>


</div>
<router-outlet></router-outlet>
