<h3>Bote: {{PlayersService.jugadas.bote}} </h3>
<div *ngFor= "let jugada of PlayersService.jugadas.jugadas">
  
    <div class="card bg-light mb-5">
        <div class="card-body">
          <h4 class="card-title">Player: {{jugada.jugador}}</h4>
          <p class="card-text">Bet: {{jugada.apuesta}}</p>
          <div class ="cardList" *ngFor= "let card of jugada.cartas">

              <img class= "cards"src="{{PlayersService.getUrlFromCard(card)}}"/>
          </div>
        </div>
      </div>

</div>

<br/>

<button class="btn btn-primary"  type="submit" value="submit" (click)="addGame()" >Add Game</button>


