

.conjunto{
    float:left;
    margin: 20px;

    /*border-left: thick solid #2c1e1e;*/
    border-image:  linear-gradient(
        to bottom, 
        red, 
        rgb(0, 0, 0)
      ) 1 100%;
    border-left-width: 10px;
    border-left-style: solid;
    padding: 30px
}

img {
    width: 30%
}

.cardList {
    float: left;
    padding: 5px;
    margin-right: -10%
}

.cards::after{
    content: "";
    clear: both;
    display: table;
}