.card{
    float:left;
    margin: 15px;
    width: 15%
}

img {
    width: 30%
}

.cardList {
    float: left;
    padding: 5px;
    margin-right: -10%
}

.cards::after{
    content: "";
    clear: both;
    display: table;
}